<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HBnB DND</title>
  <link rel="stylesheet" href="../styles/nav.css" />
  <link rel="stylesheet" href="../styles/footer.css" />
  <link rel="stylesheet" href="index_styles.css" />
</head>
<body>

  {% include '../styles/header.html' %}
  
  <main>
  <section class="places-container">
    <div class="filter-container">
      <label for="filter">Filter:</label>
      <select id="filter" class="filter-select">
        <option value="0">All prices</option>
        <option value="100">Up to $100</option>
        <option value="200">Up to $200</option>
        <option value="300">Up to $300</option>
      </select>
    </div>

    <div class="places-inner">
      <h1 class="card-title">Popular Places</h1>
    </div>

    <div class="card-scroll-wrapper">
      <button class="scroll-btn left" onclick="scrollBack()">&#8249;</button>
      <div class="card-row" id="cardRow"></div>
      <button class="scroll-btn right" onclick="scrollRight()">&#8250;</button>
    </div>
  </section>
  </main>
  
  {% include '../styles/footer.html' %}
  
<script src="scripts.js"></script>
</body>
</html>