.footer {
  background-color: #201D16;
  color: #FAF6EE;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(32,29,22,0.2);
}