<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HBnB DND</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}" />
</head>
<body>

  {% include 'includes/header.html' %}

  <main>
  <section class="places-container">
    <div class="filter-container">
      <label for="filter">Filter:</label>
      <select id="filter" class="filter-select">
        <option value="0">All prices</option>
        <option value="100">Up to 100 gold</option>
        <option value="200">Up to 200 gold</option>
        <option value="300">Up to 300 gold</option>
      </select>
    </div>

    <div class="places-inner">
      <h1 class="card-title">Popular Places</h1>
    </div>

    <div class="card-scroll-wrapper">
      <button class="scroll-btn left" onclick="scrollBack()">&#8249;</button>
      <div class="card-row" id="cardRow"></div>
      <button class="scroll-btn right" onclick="scrollRight()">&#8250;</button>
    </div>
  </section>
  </main>

  {% include 'includes/footer.html' %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>