<nav class="navbar">
    <div class="navbar-container">
        <div class="nav-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="HBnB Logo">
            </a>
        </div>
        <div class="nav-center">
             <form class="search-form" onsubmit="handleSearch(event)">
          <input class="search-input" type="text" id="search-input" placeholder="Search Places..." />
          <button type="submit" class="search-btn">Search</button>
        </form>
        </div>
        <div class="custom-select">
            <select id="countrySelector">
                <option value="">🌍 Select Country</option>
                <option value="Skr">Skyrim</option>
                <option value="Mw">Morrowind</option>
                <option value="Bg">Baldurs Gate</option>
                <option value="Mdr">Mordor</option>
            </select>
        </div>
        <div class="nav-right">
            <div id="login-btn">
                <a href="{{ url_for('login') }}" class="login-btn">Login</a>
            </div>
            <div id="userInfo" style="display: none;">
                <span id="welcomeMsg">Welcome!</span>
                <button onclick="logout()" class="logout-btn">Logout</button>
    </div>
</nav>